In [1]:
import pandas as pd
import json

In [2]:
backer_data = pd.read_csv("backer_info.csv")
#backer_data.sheet_names

In [3]:
file_path = "./backer_info.csv"
backer_df = pd.read_csv(file_path, header=1)
backer_df.head(10)

  {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
0  {"backer_id": "ha127", "cf_id": 563, "name": "...
1  {"backer_id": "lg794", "cf_id": 65, "name": "L...
2  {"backer_id": "tb566", "cf_id": 563, "name": "...
3  {"backer_id": "lh506", "cf_id": 563, "name": "...
4  {"backer_id": "lh382", "cf_id": 563, "name": "...
5  {"backer_id": "em444", "cf_id": 563, "name": "...
6  {"backer_id": "at582", "cf_id": 1572, "name": ...
7  {"backer_id": "id772", "cf_id": 1911, "name": ...
8  {"backer_id": "lw275", "cf_id": 65, "name": "L...
9  {"backer_id": "ub509", "cf_id": 65, "name": "U...

In [4]:
backer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8174 entries, 0 to 8173
Data columns (total 1 columns):
 #   Column                                                                                        Non-Null Count  Dtype
---  ------                                                                                        --------------  -----
 0   {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}  8174 non-null   object
dtypes: object(1)
memory usage: 64.0+ KB

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [5]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backers_id_list = backer_df.columns.to_list()
backers_id_list

['{"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}']

In [31]:
data_rows = []
# Iterate through the backers DataFrame and convert each row to a dictionary.
for i, row in backer_df.iterrows():
    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    # Append the list of values for each row to a list. 
    data_rows.append(row[0].split(","))

# Print out the list of values for each row.
#data_rows

In [33]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists. 
backer_info_df = pd.DataFrame(data_rows, columns=['backer_id','cf_id', 'name', 'email' ])
backer_info_df

In [33]:
#Clean Data ?????
#crowdfunding_info_df[["category","subcategory"]] = crowdfunding_info_df["category & sub-category"].str.split('/', n=1, expand=True)
#crowdfunding_info_df.head(10)

,backer_id,cf_id,name,email
0,"{""backer_id"": ""ha127""","""cf_id"": 563","""name"": ""Hubert Arnold""","""email"": ""harnold@yandex.com""}"
1,"{""backer_id"": ""lg794""","""cf_id"": 65","""name"": ""Loris Goulet""","""email"": ""lgoulet@yandex.com""}"
2,"{""backer_id"": ""tb566""","""cf_id"": 563","""name"": ""Teodora Brunelli""","""email"": ""tbrunelli@outlook.com""}"
3,"{""backer_id"": ""lh506""","""cf_id"": 563","""name"": ""Lexie Hunt""","""email"": ""lhunt@live.com""}"
4,"{""backer_id"": ""lh382""","""cf_id"": 563","""name"": ""Lambert Huber""","""email"": ""lhuber@live.com""}"
...,...,...,...,...
8169,"{""backer_id"": ""st581""","""cf_id"": 65","""name"": ""Serita Thebault""","""email"": ""sthebault@yandex.com""}"
8170,"{""backer_id"": ""gf637""","""cf_id"": 563","""name"": ""Glenn Foerstner""","""email"": ""gfoerstner@yahoo.com""}"
8171,"{""backer_id"": ""rc983""","""cf_id"": 1114","""name"": ""Robt Collin""","""email"": ""rcollin@outlook.com""}"
8172,"{""backer_id"": ""cz381""","""cf_id"": 65","""name"": ""Corina Zappa""","""email"": ""czappa@outlook.com""}"
8173,"{""backer_id"": ""fg535""","""cf_id"": 65","""name"": ""Freeman Gibbs""","""email"": ""fgibbs@outlook.com""}"

In [8]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [9]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

In [10]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".

In [11]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".

In [12]:
# Extract the name from the backer_info column and add it as a new column called "name".

In [13]:
# Extract the email from the backer_info column and add it as a new column called "email".

In [14]:
# Create a new DataFrame with the appropriate columns.

In [15]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [16]:
# Check data types.

In [17]:
# Convert cf_id to an integer if necessary.

In [18]:
# Split the "name" column into "first_name" and "last_name" columns.

In [19]:
#  Drop the name column


# Reorder the columns

In [20]:
# Export the DataFrame as a CSV file using encoding='utf8'.